<footer>
  <div class="container">
    <div class="foot-grid">
      <div>
        <h5>ROD im. Kisajno w Gutach</h5>
        <p style="color:#a9c6ad; max-width:320px; font-size:.9rem;">Zarząd R.O.D. im. Kisajno w Gutach, w strukturach Polskiego Związku Działkowców.<br>NIP 845-17-20-746 &middot; REGON 007013915</p>
      </div>
      <div>
        <h5>Nawigacja</h5>
        <ul>
          <li><a href="aktualnosci.html">Aktualności</a></li>
          <li><a href="oplaty.html">Opłaty</a></li>
          <li><a href="dokumenty.html">Dokumenty</a></li>
          <li><a href="informacje.html">Informacje</a></li>
          <li><a href="mapa.html">Mapa ogrodu</a></li>
          <li><a href="kontakt.html">Kontakt</a></li>
        </ul>
      </div>
      <div>
        <h5>Przydatne linki</h5>
        <ul>
          <li><a href="http://pzd.pl/" target="_blank" rel="noopener">Polski Związek Działkowców</a></li>
          <li><a href="http://pzd.pl/regulamin.html" target="_blank" rel="noopener">Regulamin ROD</a></li>
          <li><a href="http://pzd.pl/zagospodarowanie-rod.html" target="_blank" rel="noopener">Zagospodarowanie ROD</a></li>
        </ul>
      </div>
    </div>
    <div class="foot-bottom">&copy; 2026 ROD im. Kisajno w Gutach. Strona przygotowana dla Zarządu ogrodu &mdash; treści opłat, mapa i dane rejestrowe pochodzą z dokumentów Zarządu.</div>
  </div>
</footer>
